<%- include('../partials/header') %>
<div class="section">
    <h3>
        <%= ride.name %>
    </h3>
    <form action="/ride/<%= ride._id %>" method="POST" name="newReview">
        <input type="text" name="content">
        <input type="submit" value="Add Review!">
    </form>
</div>
<div class="section">
    <h3><img src="<%= ride.poster %>" alt="Ride photo"></h3>
    <p><a href="/<%=ride.lotSection%>/<%=ride._id%>">Back </a>to ride. </p>
</div>

<%- include('../partials/footer') %>