<%- include('../partials/header') %>
<div class="section">
    <h3>Ride Detail:</h3>
    <p>
        <%= ride.detail %>
    </p>
    <h3>Type of Ride:</h3>
    <p>
        <%= ride.rideType %>
    </p>
    <h3>Ride Location:</h3>
    <p>
        <%= ride.lotSection.toUpperCase() %>
    </p>
    <h2 style="text-decoration: underline;">Reviews</h2>
    <ul>
        <% let canReview = 1; %>
        <% ride.content.forEach((riderReviews) =>{ %>
        <li>
            <%= riderReviews.content %>
            <% review.content.forEach(comment => { %>
            <% if(comment._id.toString() === riderReviews._id.toString()){ %>
            <% canReview--; %>
            <form action="/ride/review/<%=comment._id%>"><input type="submit" id="edit"
                    class="form-control btn btn-primary" value="Edit Review"></form>
            <%}%>
    <%})%>
        </li>
        <%})%>
        <%if(canReview){ %>
        <a href="/ride/new/<%= ride._id %>">Add a review!</a>
        <% } %>
    </ul>
</div>
<div>
    <h3><img src="<%= ride.poster %>" alt="Ride photo"></h3>
    <p><a href="/upperlot">Back </a>to Upperlot section.</p>
</div>

<%- include('../partials/footer') %>